@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.oasismap-container {
  text-align: center !important;
}

.map-container {
  height: 400px !important;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.button-field {
  text-align: center !important;
  align-items: center !important;
  top: 50px !important;
  height: 50px;
  width: 219px;
  border-radius: 4px !important;
  color: #FFFFFF !important;
  background-color: rgb(79, 79, 150) !important;
}

/*TODO: ButtonのHoverフォントを変更する場合は、以下の項目で変更して下さい。*/
.button-field:hover {
  background-color: rgb(25, 25, 153);
}

@media (max-width: 427px) {
  .button-field {
    /* margin: calc(100% - 219px) / 2 !important; */
  }
}
