services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    hostname: backend
    container_name: backend
    depends_on:
      postgres:
        condition: service_healthy
      orion:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    working_dir: /app/backend
    ports:
      - "4000:4000"
    environment:
      - "API_PORT=4000"
      - "ORION_URI=http://orion:1026"
      - "ORION_FIWARE_SERVICE=Government"
      - "ORION_FIWARE_SERVICE_PATH=/Happiness"
      - "ADMIN_KEYCLOAK_CLIENT_ID=${ADMIN_KEYCLOAK_CLIENT_ID}"
      - "KEYCLOAK_CLIENT_ISSUER=${KEYCLOAK_CLIENT_ISSUER}"
      - "FRONTEND_URL=${NEXTAUTH_URL}"
      - "POSTGRES_HOST=postgres"
      - "POSTGRES_PORT=5432"
      - "POSTGRES_USER=${POSTGREUSER}"
      - "POSTGRES_PASSWORD=${POSTGREPASSWORD}"
      - "POSTGRES_DATABASE=cygnus"
      - "REVERSE_GEOCODING_URL=${REVERSE_GEOCODING_URL}"
    networks:
      - backend-network
    healthcheck:
      test: "curl -f http://localhost:4000"
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXTAUTH_URL: "${NEXTAUTH_URL}"
        NEXTAUTH_SECRET: "${NEXTAUTH_SECRET}"
        NEXT_PUBLIC_MAP_DEFAULT_LATITUDE: "${MAP_DEFAULT_LATITUDE}"
        NEXT_PUBLIC_MAP_DEFAULT_LONGITUDE: "${MAP_DEFAULT_LONGITUDE}"
        NEXT_PUBLIC_MAP_DEFAULT_ZOOM: "${MAP_DEFAULT_ZOOM}"
        NEXT_PUBLIC_DEFAULT_ZOOM_FOR_COLLECTION_RANGE: "${DEFAULT_ZOOM_FOR_COLLECTION_RANGE}"
        NEXT_PUBLIC_DATASET_LIST_BY: "${DATASET_LIST_BY}"
        NEXT_PUBLIC_BACKEND_URL: "${BACKEND_URL}"
        GENERAL_USER_KEYCLOAK_CLIENT_ID: "${GENERAL_USER_KEYCLOAK_CLIENT_ID}"
        GENERAL_USER_KEYCLOAK_CLIENT_SECRET: "${GENERAL_USER_KEYCLOAK_CLIENT_SECRET}"
        ADMIN_KEYCLOAK_CLIENT_ID: "${ADMIN_KEYCLOAK_CLIENT_ID}"
        ADMIN_KEYCLOAK_CLIENT_SECRET: "${ADMIN_KEYCLOAK_CLIENT_SECRET}"
        KEYCLOAK_CLIENT_ISSUER: "${KEYCLOAK_CLIENT_ISSUER}"
    hostname: frontend
    container_name: frontend
    working_dir: /app/frontend
    ports:
      - "3000:3000"
    depends_on:
      backend:
        condition: service_healthy
    environment:
      - "NEXTAUTH_URL=${NEXTAUTH_URL}"
      - "NEXTAUTH_SECRET=${NEXTAUTH_SECRET}"
      - "NEXT_PUBLIC_MAP_DEFAULT_LATITUDE=${MAP_DEFAULT_LATITUDE}"
      - "NEXT_PUBLIC_MAP_DEFAULT_LONGITUDE=${MAP_DEFAULT_LONGITUDE}"
      - "NEXT_PUBLIC_MAP_DEFAULT_ZOOM=${MAP_DEFAULT_ZOOM}"
      - "NEXT_PUBLIC_DEFAULT_ZOOM_FOR_COLLECTION_RANGE=${DEFAULT_ZOOM_FOR_COLLECTION_RANGE}"
      - "NEXT_PUBLIC_DATASET_LIST_BY=${DATASET_LIST_BY}"
      - "NEXT_PUBLIC_BACKEND_URL=${BACKEND_URL}"
      - "GENERAL_USER_KEYCLOAK_CLIENT_ID=${GENERAL_USER_KEYCLOAK_CLIENT_ID}"
      - "GENERAL_USER_KEYCLOAK_CLIENT_SECRET=${GENERAL_USER_KEYCLOAK_CLIENT_SECRET}"
      - "ADMIN_KEYCLOAK_CLIENT_ID=${ADMIN_KEYCLOAK_CLIENT_ID}"
      - "ADMIN_KEYCLOAK_CLIENT_SECRET=${ADMIN_KEYCLOAK_CLIENT_SECRET}"
      - "KEYCLOAK_CLIENT_ISSUER=${KEYCLOAK_CLIENT_ISSUER}"
    networks:
      - frontend-network
    healthcheck:
      test: "curl -f http://frontend:3000"
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    restart: always

  mongo:
    build:
      context: ./mongo
      dockerfile: Dockerfile
    hostname: mongo
    container_name: mongo
    expose:
      - "27017"
    environment:
      - "MONGO_INITDB_ROOT_USERNAME=${MONGOUSERNAME}"
      - "MONGO_INITDB_ROOT_PASSWORD=${MONGOPASSWORD}"
      - "MONGO_INITDB_DATABASE=oriondb"
    volumes:
      - ./site/mongo/db:/data/db
      - ./site/mongo/configdb:/data/configdb
    networks:
      - backend-network
    healthcheck:
      test: "mongosh mongodb://${MONGOUSERNAME}:${MONGOPASSWORD}@mongo:27017/admin?authSource=admin --quiet --eval \"db.runCommand('ping')\""
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    restart: always

  postgres:
    build:
      context: ./postgres
      dockerfile: Dockerfile
    hostname: postgres
    expose:
      - "5432"
    container_name: postgres
    environment:
      - "POSTGRES_USER=${POSTGREUSER}"
      - "POSTGRES_PASSWORD=${POSTGREPASSWORD}"
      - "POSTGRES_DB=postgres"
      - "PGPASSWORD=${POSTGREPASSWORD}"
      - "PGUSER=${POSTGREUSER}"
      - "PGDATABASE=postgres"
    volumes:
      - ./site/postgres/data:/var/lib/postgresql/data
      - ./setup/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGREUSER}"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    restart: always

  # "ORION_MONGO_DB=oriondb"や"ORION_FIWARE_SERVICE=Government"を変更した場合、"oriondb-government"も変更すること
  mongo-cli:
    build:
      context: ./mongo
      dockerfile: Dockerfile
    hostname: mongo-cli
    container_name: mongo-cli
    depends_on:
      mongo:
        condition: service_healthy
    volumes:
      - ./scripts:/tmp/scripts
    networks:
      - backend-network
    entrypoint: "mongosh 'mongodb://${MONGOUSERNAME}:${MONGOPASSWORD}@mongo:27017/oriondb-government?authSource=admin' --file '/tmp/scripts/add-mongo-index.js'"

  postgres-cli:
    build:
      context: ./postgres
      dockerfile: Dockerfile
    hostname: postgres-cli
    container_name: postgres-cli
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - "POSTGRES_USER=${POSTGREUSER}"
      - "POSTGRES_PASSWORD=${POSTGREPASSWORD}"
      - "POSTGRES_DB=postgres"
    volumes:
      - ./scripts:/home/postgrescli/scripts
    networks:
      - backend-network
    entrypoint: ["sh", "/home/postgrescli/scripts/add-column.sh"]

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.1
    hostname: keycloak
    container_name: keycloak
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - "KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN}" 
      - "KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}"
      - "KC_DB=postgres"
      - "KC_DB_URL=jdbc:postgresql://postgres:5432/postgres"
      - "KC_DB_USERNAME=${POSTGREUSER}"
      - "KC_DB_PASSWORD=${POSTGREPASSWORD}"
      - "TZ=Asia/Tokyo"
    command: start-dev --hostname ${KC_HOSTNAME_URL} --hostname-admin ${KC_HOSTNAME_ADMIN_URL}
    volumes:
      - ./keycloak/themes:/opt/keycloak/themes
      - ./keycloak/providers:/opt/keycloak/providers
    networks:
      - backend-network
    healthcheck:
      test: "echo > /dev/tcp/localhost/8080"
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    restart: always

  orion:
    build:
      context: ./fiware/orion
      dockerfile: Dockerfile
    hostname: orion
    container_name: orion
    expose:
      - "1026"
    depends_on:
      - mongo
    environment:
      - "ORION_MONGO_URI=mongodb://${MONGOUSERNAME}:${MONGOPASSWORD}@mongo:27017/oriondb-government?authSource=admin"
      - "ORION_MONGO_DB=oriondb"
      - "ORION_PORT=1026"
      - "ORION_MULTI_SERVICE=true"
      - "ORION_LOG_LEVEL=INFO"
    networks:
      - backend-network
    healthcheck:
      test: "curl -f http://orion:1026/version"
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    restart: always

  cygnus:
    image: fiware/cygnus-ngsi:3.15.0
    hostname: cygnus
    container_name: cygnus
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - "CYGNUS_POSTGRESQL_HOST=postgres"
      - "CYGNUS_POSTGRESQL_PORT=5432"
      - "CYGNUS_POSTGRESQL_USER=${POSTGREUSER}"
      - "CYGNUS_POSTGRESQL_PASS=${POSTGREPASSWORD}"
      - "CYGNUS_POSTGRESQL_ENABLE_CACHE=true"
      - "CYGNUS_POSTGRESQL_SERVICE_PORT=5055"
      - "CYGNUS_POSTGRESQL_DATABASE=cygnus"
      - "CYGNUS_POSTGRESQL_DATA_MODEL=dm-by-service-path"
      - "CYGNUS_POSTGRESQL_ATTR_PERSISTENCE=column"
      - "CYGNUS_LOG_LEVEL=INFO"
      - "CYGNUS_SERVICE_PORT=5055"
      - "CYGNUS_API_PORT=5080"
    networks:
      - backend-network
    restart: always

networks:
  backend-network:
    driver: bridge
  frontend-network:
    driver: bridge

